body {
    background-color: rgb(235, 178, 145)
}

h1 {
    text-align: center;
    font-size: 3em;
    text-decoration: underline;
    
}
h2 {
    font-size: 2em;
    margin-left: 2%;
}

img {
    height: 4%; 
    width: 4%;
}

#akatsuki {
    height: 100px;
    width: 150px;
}